.label {
  margin-right: auto;
  margin-left: auto;
  max-width: 200px;
  padding: 2px;
}

.label input {
  border: 1px solid #c4c4c4;
  max-width: 380px;
  padding: 7px;
  border-radius: 9px;
  transition: 0.3s;
}

.label input:hover {
  background-color: #ececec;
}
