.profile {
    background-color: #fff;
    border: 1px solid #dfdeda;
    border-radius: 15px;
    position: relative;
    min-height: 700px;
    margin-top: 20px;
    position: relative;
}

.backgroundImage {
    max-height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 70px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}

.avatar {
    max-height: 180px;
    max-width: 180px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    border: 5px solid white;
    top: 130px;
    left: 30px;
    object-fit: cover;
}

.about {
    max-width: 80%;
    font-size: 20px;
}

.name {
    font-size: 28px;
}

.job {
    font-size: 15px;
    font-weight: 500;
    margin-top: 5px;
    gap: 20px;
}

.job p {
    color: #767676;
    font-weight: 400;
    font-size: 14px;
    margin-top: 20px;
}

.edit {
    padding: 10px;
    border: 1px solid #dfdeda;
    margin-top: 20px;
    transition: 0.3s;
    border-radius: 10px;
    display: inline-block;
    position: absolute;
    bottom: 40px;
}

.edit:hover {
    margin-top:18px;
    background-color: gray;
    color: #fff;
}

.info {
    padding-left: 60px;
}

.contactInfo {
    color: #0078ff !important;
    font-weight: 500 !important;
}

.infoList {
    list-style: circle;
}

.infoList li{
    margin-top: 5px;
    font-weight: 400;
}

.posts {
    background-color: #fff;
    border: 1px solid #dfdeda;
    border-radius: 15px;
    min-height: 700px;
    margin-top: 20px;
}

.addPost {
    position: absolute;
    bottom: 40px;
    left: 120px;

}

.postsInner {
    margin-left: auto;
    margin-right: auto;
    max-width: 870px;
    padding: 40px;
}

@media screen and (max-width: 449px) {
    .avatar {
        top: 80px;
        left: 23%;
        max-height: 20%;
    }

    .info {
        padding-left: 20px;
    }

}

